{% extends 'main.html' %}
{%block content%}
{%load static%}
	<!-- end:fh5co-header -->
<div class="fh5co-parallax" style="background-image: url({% static 'img/SD.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">Passer le Temps Avec Des Articles Sur H-paradis </h1>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog-section">
		<div class="container">
			<div class="row">
				 {%for article in list_article %}
        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
          <div class="card ">
              {%if article.image == "http://default"%}
              <a href="{%url 'detail' article.id%}">
                <img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Card image cap" style="height: 150px"/>
            </a>
              {%else%}
            <a href="{%url 'detail' article.id%}">
                <img class="card-img-top" src="{%static 'img/blog1.png'%}" alt="Card image cap" style="height: 150px"/>
            </a>
            {%endif%}
          <div class="card-body" style="height:230px">
            <h5 class="card-title"><a href="{%url 'detail' article.id%}">{{article.title}}</a></h5>

            <p class="card-text">{{article.desc|truncatewords:8}}</p>

            <p class="card-text">Publier il y a {{article.create_at|timesince}}</p>
            <a href="{%url 'detail' article.id%}" class="btn btn-primary">Lire la suite</a>
          </div>
        </div>
        </div>
        {%endfor%}

			</div>
		</div>
	</div>
{%endblock%}