{%extends 'main.html' %}
{%load static%}
{%block content %}
<div class="fh5co-parallax" style="background-image: url({% static 'img/SD.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">Passer le Temps Avec Des Articles Sur H-paradis </h1>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {%if article.image == "http://default"%}
                <h1>Detail article</h1>
                <img src="https://via.placeholder.com/400x300" style="max-width: 600px; max-height: 400px;">
                <h2>{{article.title}}</h2>
                <p>{{article.desc}}</p>
                 {%else%}
                <h1>Detail article</h1>
                <img src="{%static 'img/blog1.png'%}" style="max-width: 600px; max-height: 400px;">
                <h2>{{article.title}}</h2>
                <p>{{article.desc}}</p>
                {%endif%}
            </div>

        </div>
    </div>

 {% endblock %}

