{% extends 'main.html' %}
{%load static%}
{%block content%}
	<div class="fh5co-parallax" style="background-image: url({% static 'img/formimg.jpeg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">Faites Toutes Vos Réservations de Chambre Ici </h1>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- <div id="booking" class="section" style="background-color: #F1F1F1;">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form col-lg-6 mx-auto">
                    <form method="POST" action="{% url 'reservation' %}">
                        {% csrf_token %}
                        <div class="row no-margin">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-label">Check In</span>
                                    {{ form.check_in_date }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-label">Check Out</span>
                                    {{ form.check_out_date }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="form-label">Room Type</span>
                            {{ form.room }}
                            <span class="select-arrow"></span>
                        </div>
                        <div class="form-group">
                            <span class="form-label">Email</span>
                            {{ form.client }}
                        </div>
                        <div class="form-group">
                            <span class="form-label2">Service</span>
                            {{ form.services }}
                        </div>
                        <div class="form-btn">
                            <button class="submit-btn btn btn-orange">Book Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>-->



<div id="booking" class="section">
	<div class="section-center">
		<div class="container">
			<div class="row">
				<div class="booking-form">
					<form method="post">
						{% csrf_token %}
						<div class="row no-margin">
							<div class="col-sm-6">
								<div class="form-group">
									<span class="form-label">Check In</span>
									<input class="form-control" type="date" name="check_in_date" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<span class="form-label">Check Out</span>
									<input class="form-control" type="date" name="check_out_date" required>
								</div>
							</div>
						</div>

						<div class="form-group">
							<span class="form-label">Room Type</span>
							<select class="form-control" name="room_type" required>
								<option value="" selected hidden>Select room type</option>
								{% for room_type in form.room %}
									<option value="{{ room_type.id }}">{{ room_type }}</option>
								{% endfor %}
							</select>
							<span class="select-arrow"></span>
						</div>


						<div class="form-group">
							<span class="form-label">Email</span>
							<input class="form-control" type="email"  name="email" placeholder="Enter your email" required>
						</div>
						<div class="form-group">
							<span class="form-label">Phone</span>
							<input class="form-control" type="tel" name="phone" placeholder="Enter your phone number" required>
						</div>
						<div class="form-group">
							<span class="form-label">Services</span>
							<select class="form-control" name="services" >
                            	{{ form.services }}
								<span class="select-arrow"></span>
							</select>
						</div>

						<div class="form-btn">
							<button class="submit-btn" type="submit">Book Now</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


{%endblock%}




